.Sardines {
    background-image: url('../../assets/images/sardines.gif');
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}