.VendingMachine {
    background-image: url('../../assets/images/VendingMachine.png');
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.VendingMachine-box {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.162);
    font-size: 3rem;
    color: white;
    font-family: monospace;
    padding: 15px;
    border-radius: 10%;
    text-transform: uppercase;
}

.VendingMachine-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-left: 3%;
}

.VendingMachine-container div {
    flex: 1;
}

.VendingMachine-box li {
    list-style-type: none; 
}

.VendingMachine-box a {
    color: white;
    text-decoration: none;
}

.VendingMachine-box a:hover {
    text-decoration: underline;
}